/* #472D38; /*plum*/
/* #72AD97; /*green blue*/
/* #D6D9BA; /*Kaki*/
/* #E6AF83; /*nude*/
/* #D16C5C; /*peach*/
body {
  background-color: #D6D9BA; /*Kaki*/
  color:black;
}

header {
  margin-top: 20px;
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(209, 108, 92, .5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.espacio:hover .overlay {
  opacity: 1;
}
.overlay img{
  width: 50%;
  margin: 0 auto;
}

a {
  text-decoration: underline;
  color: green;
  margin-bottom: 30px;
}
.espacio{
  margin-bottom: 20px;
  position: relative;
}

#bannerflog img {
  height: 100px;
}
h1, p{
  color: #472D38; /*plum*/
}
h1{
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Quicksand', sans-serif;
}
h3{
  font-family: 'Quicksand', sans-serif;
}
p{
  font-family: 'Arvo', serif;
}

textarea, input{
  width: 100%;
  border-radius: 10px;
  border: 1px solid #72AD97; /*green blue*/
  margin-bottom: 20px;
  background-color: #D6D9BA; /*Kaki*/
}

.posteo {
  color: DeepPink;
  border-radius: 10px;
}
.posteo strong{
  display: block;
}
.posteo hr {
  border: 1px solid DeepPink;
}
/* PARA CORAZON */
.corazon {
  font-size: 40px;
  color: gray;
  text-align: center;
}
.rojo {
  color: red;
}
footer{
  padding: 10px;
}

/* Estilos comentarios */
.cajas{
  background-color:  #D16C5C; /*peach*/
  border-radius: 10px;

}
.cajas h1{
  color: #472D38; /*plum*/
  font-size: 30px;
  margin-left: 10px;
}
.cajas p{
  margin-left: 10px;
  font-size: 16px;
}
.formulario button{
  width: 49%;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  color: #472D38; /*plum*/
  border-top: 1px solid #E6AF83; /*nude*/
  border: 1px solid #E6AF83; /*nude*/
  border-radius: 0px;
  font-family: 'Arvo', serif;
  font-size: 20px;
  -webkit-transition-duration: 0.9s; /* Safari */
    transition-duration: 0.9s;
    cursor: pointer;
}

.formulario button:hover{
  background-color: #72AD97; /*green blue*/;
  border: none;  
}
.formulario button:active{
  background-color: transparent;
  border: none; 
  color: #472D38; /*plum*/
}
.formulario button:focus{
  background-color: transparent;
  border: none; 
  color: #472D38; /*plum*/
}


