body {
  background-color: white;
  color:black;
}

header {
  margin-top: 20px;
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

a {
  text-decoration: underline;
  color: green;
  margin-bottom: 30px;
}
.espacio{
  margin-bottom: 20px;
}

#bannerflog img {
  height: 100px;
}
h1, p{
  color: DeepPink ;
}
h1{
  font-size: 50px;
  font-weight: bolder;
}

textarea, input{
  width: 100%;
  border-radius: 0px;
  border: 1px solid DeepPink;
  margin-bottom: 20px;
}

.posteo {
  color: DeepPink;
}
.posteo strong{
  display: block;
}
.posteo hr {
  border: 1px solid DeepPink;
}
/* PARA CORAZON */
.corazon {
  font-size: 40px;
  color: gray;
  text-align: center;
}
.rojo {
  color: red;
}
footer{
  padding: 10px;
}

/* Estilos comentarios */
.cajas{
  background-color: #F890E5;
}
.cajas h1{
  color: #5b545a;
  font-size: 30px;
}
